body {
    background-color: gray;
}

h1 {
    color: blue;
}

#search {
    width: 200px;
    height: 20px;
}

#search:hover {
    width: 500px;
    height: 20px;
    border-radius: 10px;
}

.category {
    font-family: Arial;
    margin-left: 10px;
}

img {
  border: 5px;
  padding: 5px;
}

img:hover {
  border: 5px yellow solid;
}